
@media (max-width: 1280px) {
h1,h2 {
    font-size: 38px;
}
}
@media (max-width: 1200px) {
     
}
@media (max-width: 1024px) {
  .splide__slide img {
    height: 100%;
    object-fit: contain;
}
.splide__slide video {
   height: 100%;
    object-fit: contain;
}
.saticsties h2 {
    max-width: 900px;
    margin: auto;
    font-size: 25px !important;
    line-height: 37px;
}
.misstion_vistion h2 {
    font-size: 22px !important;
    line-height: 38px;
}
}
 @media (max-width: 991.9px) {
    .mobile_menu{
        display: none ;
    }
    .menu_icon {
        display: block;
    }
    /* .banner-text .title {
    background-image: linear-gradient(to right, #8750f7 0%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 40px;
} */
.banner-btns .mobile_menu {
    display: inline-block;
}
   .contact_us_btn_container{
        display: flex;
        gap: 20px;
        align-items: center;
    }
    .course {
        text-align: center;
    }
    .course  .contact_us_btn_container {
    margin-top: 20px !important;
    display: flex;
    justify-content: center;
}
.our-service.about-us{
    text-align: center;
}
.title-container.our-services .lefe-img-1 {
    max-width: 87px;
    bottom: 127px;
}
.left-fixed {
    height: auto;
    margin-bottom: 50px;
}
section {
    padding: 30px 0px;
}
.about-us .about-us-container {
        margin-bottom: 60px;
}
.about-us {
    text-align: center;
}
.about-us .learn-more-button-container {
    justify-content: center;
}
.sec-6.pt-0 {
    padding-top: 30px !important;
}
h3 {
    font-size: 21px;
}
.course {
    height: auto;
}
footer {
    padding: 40px 0;
    padding-top: 60px;
    border-top: 1px solid #1f8738;
    background-color: transparent;
    border-radius: 60px 60px 0px 0px;
    background-image: linear-gradient(180deg, #1a582a 0%, var(--primary--color) 100%);
}
.saticsties h2 {
    max-width: 100%;
    margin: auto;
    font-size: 20px !important;
    line-height: 32px;
}
}


 @media (max-width: 767px) {
    .logo img {
    max-width: 165px;
}
header .logo {
    width: 40%;
}
.button__component_demo {
    border-radius: 30px;
    box-shadow: -1px 1px 4px var(--primary--color),1px -1px 4px var(--white--color);
    overflow: hidden;
    padding: 5px 10px;
    overflow: hidden;
    font-size: 12px;
    background: var(--primary--color);
    top: -1px;
    transition: box-shadow .4s ease-out .4s;
    z-index: 2;
}
.menu_icon img {
    max-width: 20px;
}
.contact_us_btn_container {
    display: flex;
    gap: 0px;
    align-items: center;
}
.marquee__item {
    min-width: 95px;
}
.marquee__item img {
    max-width: 95px;
}
h1, h2 {
    font-size: 28px;
}
.card-our-proflio-content .mt-4 {
    margin-top:  0!important;
}
.card-our-proflio-content .col-md-6:nth-child(2) {
    margin-top: 0px;
}
.course  .contact_us_btn_container {
    margin-top: 0px !important;
}
.course .button__component_demo_container {
    padding-bottom: 5px;
    padding-top: 5px;
}
.hero-sub-title {
    text-transform: uppercase;
    margin: 0px 0px 15px 0px;
    font-size: 12px;
    align-items: center;
    display: inline-block;
    margin-bottom: 8px;
    text-transform: capitalize;
    color: var(--primary--color);
    font-weight: 500;
    line-height: 1;
    background-color: transparent;
    position: relative;
    padding: 5px 12px;
}
.title-container.our-services .lefe-img-1 {
    bottom: 208px;
    left: -23%;
}
.our-service {
    padding-bottom: 0px;
}
footer {
    padding: 6px 0;
    padding-top: 35px;
    border-top: 1px solid #1f8738;
    background-color: transparent;
    border-radius: 25px 25px 0px 0px;
    background-image: linear-gradient(180deg, #1a582a 0%, var(--primary--color) 100%);
}
.quick-links {
    padding-left: 0px;
}
.copyrights-border-top {
    margin-top: 25px !important;
}
.copyrights-border-top {
    text-align: center;
}
body{
    overflow: hidden;
}
.misstion_vistion .nav .nav-item button {
    padding: 15px 0px 0px 15px;
    font-size: 17px;
}
.inner-banner {
    background: var(--primary--color);
    background-size: cover;
    padding-top: 90px;
    padding-bottom: 40px;

}
h1, h2 {
    font-size: 25px;
}
.saticsties h2 {
    max-width: 100%;
    margin: auto;
    font-size: 18px !important;
    line-height: 27px;
}
.cd-headline.clip b {
    font-weight: 700 !important;
}
.lefe-img-1 {
    left: -14%;
}
.footer-img {
    max-width: 200px;
    margin-bottom: 10px;
}
.misstion_vistion h2 {
    font-size: 17px !important;
    line-height: 25px;
}
.tab-content.p-3{
    padding-left: 0!important;
    padding-right: 0 !important;
}
.contact-wrapper p {
    width: 100%;
}
.contact-us-img img {
    width: 100%;
}
.card-our-proflio {
    margin-top: 25px;
}
.card-our-proflio.first{
    margin-top: -10px;
}
.copyrights-border-top .text-end {
    text-align: center !important;
}
.sec-6 .pt-4{
    padding-top: 0 !important;
}
.lefe-img-2 {
    max-width: 67px;
}
.lefe-img-1 {
    max-width: 70px;
}
.social-media-fixed {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: block;
    display: flex;
    flex-direction: column;
}
.social_icons .icons {
    width: 36px;
    height: 36px;
}
.social_icons .icons {
    background: #140c1c;
}
.social_icons {
    display: inline-block;
    margin-top: 15px;
}
.fa-phone {
    font-size: 14px !important;
}
}
	